.hidden.menu {
  display: none; }

.masthead .ui.container.text {
  max-width: 1200px !important; }
.masthead h2 {
  max-width: 590px; }

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em; }

.masthead .logo.item img {
  margin-right: 1em; }

.masthead .ui.menu .ui.button {
  margin-left: 0.5em; }

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal; }

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal; }

.ui.vertical.stripe {
  padding: 8em 0em; }

.ui.vertical.stripe h3 {
  font-size: 2em; }

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em; }

.ui.vertical.stripe .floated.image {
  clear: both; }

.ui.vertical.stripe p {
  font-size: 1.33em; }

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em; }

.quote.stripe.segment {
  padding: 0em; }

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none; }

  .secondary.pointing.menu .toc.item {
    display: block; }

  .masthead.segment {
    min-height: 350px; }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }
#headerMenu {
  background-color: transparent;
  box-shadow: none; }
  #headerMenu .item {
    text-transform: uppercase;
    letter-spacing: 1px; }
  #headerMenu .button {
    text-transform: uppercase; }

#progressLogo {
  width: 200px;
  height: auto; }

.ui.segment.study-logo {
  width: 160px;
  min-width: 160px;
  height: 160px;
  margin: 0 10px !important;
  padding: 60px 24px; }
  .ui.segment.study-logo > img {
    width: auto;
    max-width: 100%;
    height: auto; }
.ui.segment.vertical {
  border: 0; }

#segmentExtendMapAnything h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 200; }
#segmentExtendMapAnything h2 {
  color: #fff;
  font-weight: 200;
  font-size: 42px;
  margin-bottom: 42px; }
#segmentExtendMapAnything .ui .divider {
  margin-top: 24px; }

#segmentHero {
  background-image: url("../img/bg_bars.svg");
  background-size: 70% auto;
  background-position: bottom right;
  background-repeat: no-repeat; }
  #segmentHero .ui.button.huge {
    margin-top: 24px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16); }

#segmentWhy {
  padding-bottom: 200px; }
  #segmentWhy p {
    color: rgba(255, 255, 255, 0.7); }
  #segmentWhy h3 {
    color: #fff; }
  #segmentWhy h4 {
    color: #fff; }
  #segmentWhy div {
    color: rgba(255, 255, 255, 0.7); }

#segmentCTA {
  padding-top: 0;
  padding-bottom: 100px; }
  #segmentCTA #CTAWrap {
    margin-top: -100px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; }

#segmentPartnerListHeader {
  padding: 80px 0 100px; }
  #segmentPartnerListHeader h2 {
    font-size: 48px;
    font-weight: 400;
    color: #16325c; }

#segmentPartnerListResults {
  padding-top: 0; }
  #segmentPartnerListResults #regionSelectWrap {
    margin: -29px auto 0;
    max-width: 500px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px; }
    #segmentPartnerListResults #regionSelectWrap .ui.label {
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      font-weight: 300;
      padding-top: 17px; }
      #segmentPartnerListResults #regionSelectWrap .ui.label .icon {
        float: left; }
    #segmentPartnerListResults #regionSelectWrap .ui.dropdown {
      height: 52px;
      border-color: #3083d3;
      border-radius: 0 4px 4px 0;
      background-color: #3083d3;
      color: #fff;
      font-size: 21px;
      font-weight: 300;
      line-height: 1;
      border-left: 1px solid #4194e4; }
      #segmentPartnerListResults #regionSelectWrap .ui.dropdown:hover {
        background-color: #4194e4;
        border-color: #4194e4; }
      #segmentPartnerListResults #regionSelectWrap .ui.dropdown .icon:before {
        content: "\e056" !important;
        margin-top: 5px;
        display: block; }
      #segmentPartnerListResults #regionSelectWrap .ui.dropdown .text {
        color: #fff !important;
        font-weight: 300; }
      #segmentPartnerListResults #regionSelectWrap .ui.dropdown .menu {
        border: 0;
        background-color: #4194e4; }
        #segmentPartnerListResults #regionSelectWrap .ui.dropdown .menu .item {
          border: 0;
          color: #fff;
          font-size: 21px;
          font-weight: 300;
          line-height: 1; }
          #segmentPartnerListResults #regionSelectWrap .ui.dropdown .menu .item:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff; }

.ui.segment.dark-gray {
  background-color: #3F5161; }
.ui.segment.background-bars {
  background-image: url("../img/bg_bars.svg");
  background-size: 70% auto;
  background-position: bottom right;
  background-repeat: no-repeat; }
.ui.segment h2.subtle.header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 21px; }
  .ui.segment h2.subtle.header.green {
    color: #47D3B7; }
.ui.segment h1.header {
  font-size: 42px;
  font-weight: 400; }

.ui.button {
  border-radius: 0;
  padding: .78571429em 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400; }
  .ui.button.green {
    background-color: #47D3B7; }
    .ui.button.green:hover {
      background-color: #41B071; }
    .ui.button.green:active {
      background-color: #379761; }
  .ui.button .icon.right {
    float: right; }
  .ui.button.huge {
    padding: 15px 32px 17px; }
  .ui.button.inverted.blue {
    box-shadow: 0 0 0 3px #54C8FF inset !important;
    color: #fff; }

.light-gray-background {
  background-color: #f4f6f9 !important; }

.ma-blue-background {
  background-color: #3083d3 !important; }

.slalom-background {
  background-color: #006ED0 !important; }

.dark-blue-map-background {
  background-color: #003c4c !important;
  background-image: url("../img/map_texture_dark_blue.png") !important;
  background-size: 2353px 1238px !important;
  background-position: center !Important; }

.light-map-background {
  background-color: #f4f6f9 !important;
  background-image: url("../img/map_texture.png") !important;
  background-size: 2353px 1238px !important;
  background-position: center !Important; }

.dull-dark-blue-background {
  background-color: #003c4c !important; }

.blue-background {
  background-color: #3083d3 !important; }

.text-center {
  text-align: center; }

.color.white {
  color: #fff; }

.flex-horizontal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%; }

.flex-horizontal > .flex-end {
  margin-left: auto; }

.flex-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.flex-vertical > .flex-end {
  margin-top: auto; }

.flex-grow-1 {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1; }

.flex-basis-0 {
  -webkit-flex-basis: 0;
  -ms-flex-basis: 0;
  flex-basis: 0; }

.flex-vertical.flex-center {
  justify-content: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.ui.divider.red {
  background-color: #D4504C; }
.ui.divider.green {
  background-color: #47D3B7; }
.ui.divider.light-blue {
  background-color: #4194e4; }
.ui.divider.decorative {
  border-top: 0 !important;
  border-bottom: 0 !important;
  height: 3px;
  border-radius: 3px; }
.ui.divider.half-width {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

body *:not(.icon), body *:not(.ma-icon) {
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased; }

p {
  line-height: 1.6; }
  p.header.page-subheader {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700 !important;
    font-size: 21px !important; }
  p.large {
    font-size: 18px;
    color: #485B6C;
    opacity: .7;
    line-height: 1.6; }

h2.header.page-subheader {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700 !important;
  font-size: 18px !important; }

h3.header {
  font-size: 32px;
  font-weight: 400;
  color: #3F5161; }
  h3.header.page-subheader {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700 !important;
    font-size: 18px !important; }

.p-accent {
  height: 3px;
  width: 200px;
  position: relative;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5); }
  .p-accent:after {
    content: ' ';
    border-radius: 3px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 66.66%;
    background: #fff; }

#featuresHeroWrap #featuresHeroGrid {
  min-height: 700px; }
#featuresHeroWrap #featuresHeroPhone {
  display: block;
  position: absolute;
  left: 0;
  top: 150px; }
  #featuresHeroWrap #featuresHeroPhone img {
    max-height: 900px;
    width: auto; }
#featuresHeroWrap #featuresHeroCTA {
  margin-top: 36px; }

#featuresClientWrap #featuresClientGrid {
  min-height: 550px; }

#featuresProgressionWrap {
  background-image: url(../img/house_background.jpg);
  background-size: cover;
  background-position: center; }
  #featuresProgressionWrap #featuresProgressionGrid {
    min-height: 600px; }

/*# sourceMappingURL=partners.css.map */
