.ui {

	&.button {
		border-radius:0;
		padding: .78571429em 2em;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;

		&.green {
			background-color: $green;

			&:hover {
				background-color: $green-2;
			}

			&:active {
				background-color: $green-3;
			}
		}

		.icon {

			&.right {
				float:right;
			}
		}

		&.huge {
		    padding: 15px 32px 17px;
		}

		&.inverted {

			&.blue {
				box-shadow: 0 0 0 3px #54C8FF inset!important;
				color:#fff;
			}
		}
	}
}