#headerMenu {
    background-color: transparent;
    box-shadow: none;

    .item {
    	text-transform: uppercase;
    letter-spacing: 1px;
    }

    .button {
    	text-transform: uppercase;
    }
}

#progressLogo {
    width: 200px;
    height: auto;
}

