$dark-blue: #16325c;
$dull-dark-blue: #003c4c;
$dull-dark-blue-2: #002833;

$light-gray: #f4f6f9;
$dark-gray: #3F5161;

$blue: #3083d3;
$light-blue: #4194e4;

$green: #47D3B7;
$green-2: #41B071;
$green-3: #379761;

$red: #D4504C;

$slalom-blue: #006ED0;